* {
    box-sizing: border-box !important;
}

.app-header {
    background: black !important;
    display: flex !important;
}

textarea {
    height: 100px;
    width: 100% !important;
    padding: 8px;
}

.gap-10 {
    gap: 10px;
}

.post-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: fit-content;
    flex: 1;
    box-sizing: border-box;
}